.items-hero {
    height: 500px;
}

.ver-cursos {
    padding: 15px 100px;
}

.hero-description {
    font-size: 25px;
}

.new-courses-title {
    display: inline;
    border-block-end: 2px solid black
}

.img-card {
    width: 280px;
    justify-content: center
}

.creadores {
    background-color: #e5e5e5;
    padding: 100px;
    padding-top: 50px;
}

.creadores-container {
    width: 100%;
}

.title-creadores {
    display: inline;
    border-block-end: 2px solid black
}

.containerImage {
    height: -100px;
}

.img-card-owner {
    width: 200px;
    height: 200px;
    background-color: #cccccc;
}